<% @cutomer_orders.each do |customer_order| %>
  <p>Email: <%= customer.email %></p>
  <p>Order Details: </p>
  <ul>
    <% customer_order.order_details.each do |item| %>
    <li><%= item.quantity %> x <%= item.menu.name %></li>
    <% end %>
  </ul>
  <p>Status: <%= customer_order.status %></p>
  <p>Total: <%= customer_order.order_details.total_price %></p>
<% end