<p style="color: green"><%= notice %></p>

<h1>Menus</h1>

<div id="menus">
  <% @menus.each do |menu| %>
    <%= render menu %>
    <p>
      <%= link_to "Show this menu", menu %>
    </p>
    <p>
      <%= button_to "Add #{menu.name} to cart", order_details_path(:menu_id => menu.id) %>
    </p>
  <% end %>
</div>
<% if check_admin == true %>
<%= link_to "New menu", new_menu_path %>
  |
<%= link_to "Back to dashboard", admin_path %>
<% end %>
