<p>
  <%= link_to "Go to Menu List", menus_path %>
</p>
<p>
  <%= link_to "Go to Category List", categories_path %>
</p>
<p>
  <%= link_to "Go to order List", menus_path %>
</p>
<p>
  <%= link_to "Go to user List", users_path %>
</p>
<p>
  <%= link_to "Log out", logout_path, method: :destroy %>
</p>